.contect{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.contectBox{
    margin-top: 3rem;
    width: 80%;
    height: 90%;
    background: linear-gradient(89.64deg, #746BDB -7.92%, #8359E3 95.42%, #8A52E7 151.95%);;
    box-shadow: 5px 5px 4px #8f8f8f96;
    border-radius: 0.5rem;
    
}