@import "../../common/common.scss";

.contect{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.contectBox{
    margin-top: 3rem;
    width: 80%;
    height: 90%;
    background: $main-gradient;
    box-shadow: 5px 5px 4px #8f8f8f96;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;    
    padding: 1rem;
}

.giraffeBox{
    display: flex;
    justify-content: center;
}

.contectTextBox{
    color:white;
    font-family: Clash Display Variable;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
}

.contectTextBox p{
    padding-top: 1rem;
}

.iconBox{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
}
