.input {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 2rem;

  input {
    background: none;
    border: none;
    border-bottom: solid 1px #673398;
    padding: 0.3rem;
    font-size: 0.9rem;
    &:focus-visible {
      border-bottom: solid 1px #8c46cd;
      outline: none;
    }
    &::before {
      font-size: 0.8rem;
      content: "111";
    }
  }
  &::before {
    font-size: 0.8rem;
    color: #673398;
    content: attr(data-lable);
  }
}
